body{
    background-image:url(/Picture/Background_1.jpg);
    background-size:cover;
}
h1{
    /* Màu chữ */
    color: blueviolet;
    /* Kiểu chữ */
    font-size:x-small;
    /* Font chữ */
    font-family: Arial, Helvetica, sans-serif;
    /* Chuyển chữ Hoa<----> Thường */
    text-transform: capitalize;
    /* Căn giữa */
    text-align: center;
    /* Cỡ chữ */
    font-size: 50px;
  
}
h2{
    color:rgb(107, 230, 7);
    text-align: center;  
    /* display: none; */ /*  ẩn phàn tử khoải giao diện(xóa không gian nó đang chiếm) */
   /* visibility: hidden; /*Mất phần tử nhưng vẫn chiếm không gian*/

}
span{
    visibility:visible; /* Kế thừa và hiện text khi có visibility: hidden;/*
}
a{
    
    color: red;
    font-style:unset;
    background-color: none;
    
}
p{
    /* Độ trong suốt */
    opacity: 70%;
    background-color: aliceblue;
    text-align: center;
   
}
    
